spring:
  application:
    name: auth-service
  profiles:
    active: dev

server:
  port: 8090

app:
  jwt:
    secret: "your-256-bit-secret-key-change-in-production-minimum-32-chars!!"
    expiration-ms: 86400000
  google:
    client-id: ${GOOGLE_CLIENT_ID:300213142400-0ro38riua457nccc448ubt8j9cuvjq8c.apps.googleusercontent.com}
