spring:
  application:
    name: portfolio-rebalancer
  profiles:
    active: dev
  security:
    oauth2:
      client:
        registration:
          google:
            client-id: ${GOOGLE_CLIENT_ID}
            client-secret: ${GOOGLE_CLIENT_SECRET}
            scope: openid, email, profile

server:
  port: 8080

app:
  jwt:
    secret: "your-256-bit-secret-key-change-in-production-minimum-32-chars!!"
    expiration-ms: 86400000
  oauth2:
    frontend-redirect-url: http://localhost:3000/oauth2/callback
